<div class="panel panel-default">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<h1>Set Gamescore<span class="glyphicon glyphicon-edit"></span></h1>
		<p>{{game.team_1.name}} <strong>vs</strong> {{game.team_2.name}}</p>
	</div>

	<form ng-submit="submit()" class="form-inline" role="form">
		<div class="form-group">
			<label class="" for="team_1">{{game.team_1.name}}</label>
			<input ng-model="game.team_1_score" type="number" class="form-control" id="team_1">
		</div>
		<div class="form-group">
			<label class="" for="team_2">{{game.team_2.name}}</label>
			<input ng-model="game.team_2_score" type="number" class="form-control" id="team_2">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="game.is_final"> Is final?
			</label>
		</div>
		<input type="submit" class="btn btn-primary" value="Update"></input>
		<div id="alert" class="alert alert-success">Post Succesful, <a href="#/game">return to games</a></div>
	</form>
</div>